/* BandDetail.module.css */

.bandDetail {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color-light); 
    color: var(--text-color-light); 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .bandName {
    font-size: 2.4rem;
    margin-bottom: 20px;
    color: var(--primary-color-light); 
    text-align: center;
  }
  
  .imageContainer {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .bandLogo {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .logoCredits {
    font-size: 0.9rem;
    color: var(--muted-color-light); 
    margin-top: 10px;
  }
  
  .info {
    font-size: 1.1rem;
    margin: 10px 0;
  }
  
  .bio {
    font-size: 1rem;
    line-height: 1.6;
    margin-top: 20px;
    color: var(--muted-color-light);
  }
  
  .loading,
  .error {
    text-align: center;
    font-size: 1.2rem;
    margin: 50px 0;
    color: var(--muted-color-light);
  }

  
