.footer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--secondary-color-dark); 
    color: var(--text-color-dark);
    padding: 2rem 1rem;
    gap: 1rem;
}

.footer h4{
    text-align: center;
}

.section {
    flex: 1; 
    min-width: 200px; 
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.list li {
    margin: 0.5rem 0;
}

.list a {
    color: var(--text-color-dark);
    text-decoration: none;
    transition: color 0.3s;
}

.list a:hover {
    color: var(--primary-color-dark);
}

.socialIcons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
}

.icon {
    font-size: 2.5rem; 
    color: var(--text-color-dark);
    transition: color 0.3s;
}

.icon:hover {
    color: var(--primary-color-dark);
}

.sponsors {
    display: flex; 
    margin-top: 1rem;
    justify-content: center;
}

.sponsorImg {
    width: 75%; 
    height: auto;
    object-fit: contain;
    filter: brightness(0.9); 
    transition: filter 0.3s;
}

.sponsorImg:hover {
    filter: brightness(1.5); 
}

/*Tablet*/
@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .section {
        min-width: 100%;
        margin-bottom: 1rem;
    }

    .socialIcons {
        gap: 1rem;
    }

    .icon {
        font-size: 2rem;
    }

    .sponsors {
        margin-top: 1.5rem;
    }

    .sponsorImg {
        width: 30%;
    }
}

/* Mobil*/

@media (max-width: 480px) {
    .footer {
        padding: 0.5rem;
    }

    .list {
        font-size: 0.9rem;
    }

    .sponsorImg {
        width: 90%;
    }
}
    