.guestform {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--background-color-light); 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.guestform legend {
      font-size: 1.25rem;
      margin-bottom: 10px;
      font-weight: bold;
      color: var(--primary-color-light); 
    }
    
    .guestform label {
      display: block;
      margin-bottom: 8px;
      font-size: 1rem;
      color: var(--text-color-light); 
    }
    
    .guestform input[type="text"],
    .guestform input[type="email"] {
      width: 100%;
      padding: 8px;
      font-size: 1rem;
      margin-bottom: 15px;
      border-radius: 4px;
      border: 1px solid var(--muted-color-light); 
    }
    
    .guestform input[type="radio"] {
      margin-right: 10px;
    }
    
    .guestform button {
      display: block;
      width: 100%;
      background-color: var(--primary-color-light); 
      color: var(--text-color-light); 
      border: none;
      border-radius: 4px;
      padding: 1rem;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;
  
    }
  
    .guestform button:hover{
      background-color: var(--secondary-color-light); 
      color: var(--primary-color-light);
      transform: scale(1.05);
  
    }
  
    .guestform button:disabled{
      background-color: var(--muted-color-light); 
      color: var(--text-color-light);
      font-weight: 300;
    }
  
  .fieldset {
    border: none;
    margin-bottom: 20px;
  }
  
  .error {
    color: red;
    font-size: 1rem;
  }

  /*Tablet*/
  @media (max-width: 768px) {
    .guestform {
      padding: 15px;
      margin: 0 10px;
    }
  
    .guestform legend {
      font-size: 1.1rem;
    }
  
    .guestform input[type="text"],
    .guestform input[type="email"] {
      padding: 10px;
      font-size: 1rem;
    }
  
    .guestform button {
      font-size: 1rem;
      padding: 0.75rem;
    }
  }
  
  /* Mobil */
  @media (max-width: 480px) {
    .guestform {
      padding: 10px;
      margin: 0 5px;
    }
  
    .guestform legend {
      font-size: 1rem;
    }
  
    .guestform input[type="text"],
    .guestform input[type="email"] {
      font-size: 0.9rem;
    }
  
    .guestform button {
      font-size: 0.9rem;
      padding: 0.5rem;
    }
  }


  