/* Home.module.css */
.homeContainer {
 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto 0;
  }
  
  .homeContent {
    max-width: 800px;
    width: 100%;
    text-align: center;
    margin: auto 0;
    padding: 1%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    
  }
  .homeContent h1 {
      font-size: 2.5rem;
      color: var(--secondary-color-dark);
      margin-bottom: 2rem;
    }
    
    .homeContent p {
      font-size: 1.1rem;
      color: var(--secondary-color-dark);
      line-height: 1.6;
      margin-bottom: 2rem;
    }

   
  
  

  
  @media (max-width: 768px) {
    .homeContent h1 {
      font-size: 2rem;
    }

  }
