.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color-light);
    padding: 10px 20px;

    
  .logo a {
    font-family: "ocr-a-std", monospace;
    font-size: 24px;
    font-weight: 300;
    color: var(--primary-color-light);
    text-decoration: none;
  }
  
  .navLinks {
    list-style-type: none;
    display: flex;
    gap: 20px;
  }
  
  .navLinks li a {
    font-family: "museo-sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
    text-transform: uppercase;
  }
  
  .navLinks li a:hover {
    color: var(--primary-color-light);
  }
  
  @media (prefers-color-scheme: light) {
    .nav {
      background-color: var(--background-color-light);
      color: var(--text-color-light);
    }
  
    .navLinks li {
      color: var(--text-color-light);
    }
  
    .navLinks li:hover {
      color: var(--primary-color-light);
    }
  }
  }
  
  
  @media (prefers-color-scheme: dark) {
    .nav {
      background-color: var(--background-color-dark);
      color: var(--text-color-dark);

      .navLinks li {
        color: var(--text-color-dark);
      }
    
      .navLinks li:hover {
        color: var(--primary-color-dark);
      }
    }
  
   
  }
