.reservationTimer {
    background-color: var(--background-color-light);
    border: 2px solid var(--primary-color-light);
    border-radius: 8px;
    padding: 20px;
    margin: 10px auto; /* Center elementet horisontalt */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerer indholdet horisontalt */
    justify-content: center; /* Centrerer indholdet vertikalt */
    flex-wrap: wrap;
    height: 100%;
  }
  
  .reservationTimer h2 {
    font-size: 1.5rem;
    color: var(--primary-color-dark);
    margin-bottom: 10px;
  }
  
  .reservationTimer p {
    font-size: 1rem;
    color: var(--text-color-light);
  }

  .peroplysh1{
    color: var(--secondary-color-light);
    text-align: center;
  }

  .resIdStyle{
    text-align: center;
    color: var(--secondary-color-light);
  }
  

  